/* generic style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Add display properties for the containers*/
/* flex will allow the elements of the header to sit next to each other*/
/* justified content to have space between */
/* this will move the nav to the right */
/* height can be sized with pixels or view height-VH - which will be the % of the screen height*/
header {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    background-color: lightblue;
    
}

/* Now we will look at the elements inside the header */
/* padding will bring the image away from the edge of the screen */

header img {
    max-height: 15vh;
    padding: 20px;

}

/* we need to style the li in the header only to make it look like the example */
/*inline-block for display so they sit next to each other */

header ul li {
    display: inline-block;
    padding: 0px 25px;
}

/* to get rid of the underline on the links */
/* we need to target the anchor tag within the li */
/*text decoration will turn off the underline on the links */
header ul li a {
    text-decoration: none;
    font-size: large;
}
/* now we need to add the background img */
.bg {
    background: url("img/ultra-bungee-hero.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.banner {
    height: 25vh;
    background-color: darkseagreen;
    opacity: 0.5;
    position:absolute;
    width: 100%;
    bottom: 10vh;
}
